MTA_API_KEY=
PORT=
LOG_LOCATIONS=
LOG_RESPONSE=
# Need the weird quotes here to pass this to Rollup
TIMEZONE='"America/New_York"'
UPDATE_FREQUENCY_IN_SECONDS=10


PUBLIC_BASE_API_URI="https://api-endpoint.mta.info/Dataservice/mtagtfsfeeds/nyct%2Fgtfs-"
PUBLIC_MAP_ATTRIBUTION="TODO"
PUBLIC_MAP_CENTER="[40.7055585, -73.989109 ]"
PUBLIC_MAP_ZOOM=14
PUBLIC_MAP_ZOOM_DEFAULT=14
PUBLIC_MAP_ZOOM_MAX=3
PUBLIC_TILE_LAYER="https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png"
PUBLIC_TIMEZONE="America/New_York"
PUBLIC_UPDATE_FREQUENCY_IN_SECONDS=10